Source: lde
Section: x11
Priority: optional
Maintainer: Zhuoyi Xu <xzy476386434@vip.qq.com>
Build-Depends: debhelper (>= 8.0.0), libqt5core5a, libqt5gui5, libqt5network5, libqt5webkit5-dev, libqt5widgets5, libqt5opengl5-dev, qt5-qmake, cmake
Standards-Version: 3.9.4
Homepage: http://ldeteam.tk
Vcs-Git: git://github.com/xuzhuoyi/LDE.git
Vcs-Browser: https://github.com/xuzhuoyi/LDE

Package: lde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5network5, libqt5webkit5-dev, libqt5widgets5, razorqt-panel, feh, xfwm4
Description: complete LDE Desktop Environment for end users
  LDE is the powerful, lightweight, and easy-to-use Free Software desktop platform and suite of applications.
  This package includes all the modules released with LDE Desktop Environment that are useful for a desktop user. This includes Looplorer, Looget, LDE Control Center, LooFm, Lootepad, and other useful utilities.
